@import "tailwindcss";
@config "../../tailwind.config.ts";

a:not(.gitify-navbar) {
  @apply font-semibold;
}

a:not(.gitify-repo) {
  @apply hover:underline;
}

.faq ul {
  @apply list-disc ml-4;
}

.faq ul > li {
  @apply ml-2;
}

.accordion__title {
  h3 {
    @apply text-base font-medium;
  }
}

.accordion__content {
  @apply text-base;
}
