---
import { marked } from 'marked';
import Layout from '../layouts/Layout.astro';

const content = [
  {
    id: '1',
    question: "My notifications aren't showing?",
    answer:
      'Some organisations require applications to request access before allowing access to any data (including notifications) about their repositories. <br  /> To check if Gitify is approved by your organisation you can go to [settings](https://github.com/settings/applications), then click on **Gitify** and scroll to **Organization access**.',
  },
  {
    id: '2',
    question: 'GitHub Enterprise Server - Authorizing via OAuth?',
    answer:
      'If you want to use OAuth to authenticate with Gitify, first create a new application within _**GitHub** → **Settings** → **Developer settings** → **OAuth Apps**_.<br />Complete all the fields, ensuring you use https://www.gitify.io/callback as the _**Authorization callback URL**_.  Once saved, click on _**Generate a new client secret**_ to get a client/secret pair that you can use with Gitify',
  },
  {
    id: '3',
    question: 'Unsubscribe from Thread - What does this mean?',
    answer:
      'When you **Unsubscribe from Thread**, you will not receive future notifications for the thread until you either comment on the thread or get a **@mention**. <br />  _Note: If you are watching a repository, you receive notifications for all threads by default._',
  },
  {
    id: '4',
    question: 'Something looks wrong - How can I debug?',
    answer:
      'You can debug Gitify by pressing <code>alt + command + I</code>. This will open the dev tools and then you can see any logs, network requests etc.',
  },
  {
    id: '5',
    question: 'How can I contribute to Gitify?',
    answer:
      'You can contribute to Gitify by opening a pull request @ [gitify-app/gitify](https://github.com/gitify-app/gitify)',
  },
];
---

<Layout title="Frequently Asked Questions">
  <div class="container max-w-4xl mx-auto px-12 flex-1">
    <div class="text-3xl text-center mt-12 mb-8">
      Frequently Asked Questions
    </div>

    {
      content.map((item) => (
        <div class="mb-8 text-xl">
          <div class="font-semibold mb-2">{item.question}</div>
          <div class="prose lg:prose-xl" set:html={marked(item.answer)} />
        </div>
      ))
    }
  </div>
</Layout>
