---
import { Icon } from "astro-icon/components";

import Hero from "~/components/Hero.astro";
import { openSourceLibs } from "~/icons/icons";
import Layout from "~/layouts/Layout.astro";
import SectionRow from "~/layouts/SectionRow.astro";
---

<Layout title="GitHub notifications on your menu bar">
  <main>
    <Hero />

    <SectionRow
      title="All your GitHub notifications, right on your desktop."
      description="<p>Gitify is all about making your life easier.</p><br /><p>Always visible on your menu bar, Gitify delivers real-time notifications across all your GitHub Cloud or GitHub Enterprise accounts.</p><br /><p>Stay on top of your work, effortlessly.</p>"
      screenshot={{
        path: "all-read",
        alt: "Screenshot when there are no notifications read",
      }}
      isReversed
      isDark
    />

    <SectionRow
      title="Cut through the noise, focus on what matters."
      description="<p>Inbox overflowing?</p><br /><p>Gitify helps you filter notifications so you can quickly zero in on what’s important.</p>"
      screenshot={{
        path: "filters",
        alt: "Screenshot for notification filters",
      }}
    />

    <SectionRow
      title="Your notifications, your way."
      description="<p>Gitify gives you full control: show native OS notifications, play a new notification sound (we promise it's not annoying), or change it's appearance.</p><br /><p>It’s designed to keep you informed without interrupting your workflow. Customize it to suit your style.</p>"
      screenshot={{
        path: "settings",
        alt: "Screenshot for user preferences, settings",
      }}
      isReversed
      isDark
    />

    <SectionRow
      title="Free & Open Source. It's ours."
      description="Gitify is based on Electron, React, Tailwind CSS and more awesome open source libraries.</p><br /><p>Written in Typescript.</p>"
    >
      <div class="flex flex-wrap justify-center md:max-w-lg mt-12 lg:mt-0">
        {
          openSourceLibs.map((item) => (
            <div class="p-2 m-2 rounded-lg hover:motion-preset-pulse hover:motion-duration-1000">
              <a
                href={item.link}
                target="_blank"
                rel="noopener noreferrer"
                class:list={["icon", item.color ?? "text-black"]}
              >
                <Icon
                  name={item.svg}
                  title={item.name}
                  size={32}
                  class="w-8 sm:w-12"
                />
              </a>
            </div>
          ))
        }
      </div>
    </SectionRow>
  </main>
</Layout>
