$theme-colors: (
  'primary': #203354,
  'success': #23a051,
  'info': #8ba9c6,
  'warning': #fcaa67,
  'danger': #b7524f,
);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import '../node_modules/bootstrap/scss/bootstrap';

.header {
  background: rgb(242, 244, 248);
  background: linear-gradient(
    148deg,
    rgba(242, 244, 248, 1) 0%,
    rgba(213, 220, 235, 1) 100%
  );
}
